.tecnologias_exponenciales{
    width: 100%;
    margin: 8% 0 8% 0;
    overflow: hidden;
    opacity: 1;
    @media (max-width: 800px){
        margin: 0 0 25% 0;
    }

    h3{
        width: calc(668px + (1221 - 668) * ((100vw - 800px) / (1640 - 800)));
        margin: 0 auto 0 auto;
        font-size: calc(16px + (20 - 16) * ((100vw - 800px) / (1640 - 800)));        
        font-weight: 400;
        color: #fff;
        margin-bottom: 2%;
    }

    .linea_tecno{
        width: calc(668px + (1221 - 668) * ((100vw - 800px) / (1640 - 800)));
        height: 1px;
        border-bottom: 1px solid rgba(255,255,255,0.4);
        margin: 0 auto 0 auto;
        @media (max-width: 800px){
            width: 84vw;
        } 
    }

    .contenedor_tecnologias{
        white-space: nowrap;
        overflow-y: hidden;
        margin: 0;
        padding: 1.5% 0 3% 0;
        
        .tecnologias{
            overflow-y: hidden;
            p{
                overflow-y: hidden;
                font-size: calc(20px + (200 - 80) * ((80vw - 800px) / (1640 - 800)));
                line-height: 120%;
                font-weight: 300;
                color: #fff;
                margin: 0;
                cursor: pointer;
                text-decoration: none;
                //&:first-of-type{
                //    margin-left: -40px;
                //}
                span{
                    padding: 0 5vw 0 5vw;
                    display: inline-block;
                    font-size: calc(20px + (200 - 80) * ((80vw - 800px) / (1640 - 800)));
                    line-height: 120%;
                    font-weight: 300;
                    color: #fff;
                }
                &:hover{
                    opacity: 1;
                }
            }
            .overlay::before, .overlay::after{
                background: none !important;
            }
        }
    }
    .descripcion_tec_ex{
        width: calc(668px + (1221 - 668) * ((100vw - 800px) / (1640 - 800)));
        margin: 0 auto 0 auto;
        display: flex;
        margin-top: 4%;
        p{
            width: 50%;
            margin-left: auto;
            font-size: calc(16px + (20 - 16) * ((100vw - 800px) / (1640 - 800)));
            line-height: 132%;
            font-weight: 300;
            color: #fff;
        }
    }
}